@page "/Ideas"

@inject IIdeaRepository repository

<h3>Ideas</h3>

@if (ideas == null)
{
    <p><em>Loading...</em></p>
}
else if (ideas.Count == 0)
{
    <p><em>No Data...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var idea in ideas)
            {
                <tr>
                    <td>@idea.Id</td>
                    <td>@idea.Note</td>
                </tr>
            }
        </tbody>
    </table>
}

<input type="button" value="글쓰기" @onclick="btnCreate_Click" class="btn btn-primary" />

@if (isShow)
{
    <div class="modal fade show" tabindex="-1" role="dialog" style="display:block;" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">어떤 아이디어가 있나요?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            @onclick="btnClose_Click">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="note">아이디어</label>
                        <input type="text" class="form-control" @bind="@idea.Note" />
                    </div>
                    <button type="button" class="btn btn-primary" @onclick="btnSave_Click">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            @onclick="btnClose_Click">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    Idea idea = new Idea();

    private bool isShow = false;

    private List<Idea> ideas;

    protected override async Task OnInitializedAsync()
    {
        ideas = await repository.GetIdeas();
    }

    private void btnCreate_Click()
    {
        isShow = true;
    }

    private void btnClose_Click()
    {
        isShow = false;
        idea = new Idea();
    }

    private async Task btnSave_Click()
    {
        await repository.AddIdea(idea);
        isShow = false;
        ideas = await repository.GetIdeas();
        idea = new Idea();

        StateHasChanged(); // Refresh
    }
}
